canvas{
    border: 1px solid black;
    margin-left: 60px;
    margin-top: 100px;
}
body{
    /* width: 1500px; */
}

.form-control{
    margin-right: 20px;
}
.hidden{
display: none;
}

.button-back-area{
    background-color: rgb(27, 23, 20);
    height: 65px;
    width: 100%;
}
.buttons-container{
    /* margin-top: 50px; */
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
    
}
.input-group{
    padding: 50px ;
    width: 100%;
}